
<ion-card *ngIf="show">
  <ion-card-header text-center>
    {{ chartData['name'] }}
  </ion-card-header>

  <ion-card-content>

    <insights-chart-pie *ngIf="!!pieConcreteData" [pieConcreteData]="pieConcreteData"></insights-chart-pie>
  
    <insights-chart-lines *ngIf="!!linesConcreteData" [linesConcreteData]="linesConcreteData"></insights-chart-lines>
  
    <insights-chart-columns *ngIf="!!columnsConcreteData" [columnsConcreteData]="columnsConcreteData"></insights-chart-columns>
  
    <insights-chart-donut *ngIf="!!donutConcreteData" [donutConcreteData]="donutConcreteData"></insights-chart-donut>
  
    <insights-chart-table *ngIf="!!tableConcreteData" [tableConcreteData]="tableConcreteData"></insights-chart-table>
  
    <insights-chart-key-values *ngIf="!!keyValuesConcreteData" [keyValuesConcreteData]="keyValuesConcreteData"></insights-chart-key-values>
    
  </ion-card-content>
</ion-card>

<!-- 
<div *ngIf="show">
  <h3 text-center>
    {{ chartData['name'] }}
  </h3>

  <insights-chart-pie *ngIf="!!pieConcreteData" [pieConcreteData]="pieConcreteData"></insights-chart-pie>
  <insights-chart-lines *ngIf="!!linesConcreteData" [linesConcreteData]="linesConcreteData"></insights-chart-lines>
  <insights-chart-columns *ngIf="!!columnsConcreteData" [columnsConcreteData]="columnsConcreteData"></insights-chart-columns>
  <insights-chart-donut *ngIf="!!donutConcreteData" [donutConcreteData]="donutConcreteData"></insights-chart-donut>
  <insights-chart-table *ngIf="!!tableConcreteData" [tableConcreteData]="tableConcreteData"></insights-chart-table>
  <insights-chart-key-values *ngIf="!!keyValuesConcreteData" [keyValuesConcreteData]="keyValuesConcreteData"></insights-chart-key-values>
</div>
-->