ion-icon.password-icon {
    font-size: 120%;
    color: rgb(0, 131, 24);
    padding-top: 5px;
}

.root-container {
    background-color: color($colors, primary);
}

.login-container {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;

    display: flex;
    justify-content: center;
    align-items: center;  
    height: 100%;
  }

  .visible {
      visibility: visible;
      opacity: 1;
  }
  
  .login-box {
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
    color: white;
    //transition: opacity 200ms linear;
  }
  
  .login-group {
    margin: 20px 0px;
  }
  
  .login-input {

    //background-color: transparentize(map-get($colors, primary), 0.5);
    border: 0;
    outline: 0;
    box-shadow: 0;
    padding: 0.75em;
    width: 100%;
    border-radius: 3px;
  }
  
  .z-label {
    color: white;
    font-size: 0.95em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 3px;
  }
  
  .login-button {
    margin-top: 40px;
    background-color: white;
    color: color($colors, dark);
  }
  