.list-header {
    margin-bottom: 0px;
}

.label {
    margin: 0;
}

p.time-passed {
    text-align: right;
    color: map-get($colors, grey);
}

.grid {
    padding: 0;
}

h2.instant-card-title {
//    font-size: 1.3em;
//    font-weight: 100;
}

p.instant-card-subtitle{
    color: map-get($colors, primary-dark);
    //font-weight: 800;
}

ion-icon.instant-card-icon {
    color: map-get($colors, primary-very-dark);
}



.action-request {

}

.action-request.done {
    color: green;
    background: linear-gradient(to right, #fff , #eff9fb);
    border-bottom: 1px solid #eff9fb;
    border-top: 1px solid #eff9fb;
}

.action-request.unattended {
    color: red;
    background: linear-gradient(to right, #fff , #ffeff2);
    border-bottom: 1px solid #ffeff2;
    border-top: 1px solid #ffeff2;
}

.action-request.ignored {
    color: #999;
    background: linear-gradient(to right, #fff , #f7f7f7);
    border-bottom: 1px solid #f7f7f7;
    border-top: 1px solid #f7f7f7;
}
