<ion-item>

    <ion-icon item-start *ngIf="instant.content.type == 'glucose'" name="water"></ion-icon>
    <ion-icon item-start *ngIf="instant.content.type == 'feeding'" name="restaurant"></ion-icon>
    <ion-icon item-start *ngIf="instant.content.type == 'physical_activity'" name="bicycle"></ion-icon>
    <ion-icon item-start *ngIf="instant.content.type == 'physical_trait'" name="body"></ion-icon>
    <ion-icon item-start *ngIf="instant.content.type == 'insulin_dose'" name="thermometer"></ion-icon>

    <ion-grid>
        <ion-row align-items-center>
            <ion-col col-9>
                <ng-container [ngSwitch]="instant.content.type">
                    <!-- glucoses -->
                    <ng-container *ngSwitchCase="'glucose'">
                        <h2>Glucose Level</h2>
                        <p>{{ instant.content.level }}mg/dL</p>
                    </ng-container>
                    
                    <!-- feeding -->
                    <ng-container *ngSwitchCase="'feeding'">
                        <h2>Feeding</h2>
                        <p></p>
                    </ng-container>
            
                    <!-- #eff9fb para menos de una hora, verdecito -->
                    <!-- #ffeff2 system generated, rojito -->
            
                    <!-- physical_activity -->
                    <ng-container *ngSwitchCase="'physical_activity'">
                        <h2>Physical Activity</h2>
                        <p>{{activity_intensities[instant.content.intensity]}} intensity. {{ instant.content.minutes }} minutes.</p>
                    </ng-container>
            
                    <!-- physical_trait -->
                    <ng-container *ngSwitchCase="'physical_trait'">
                        <h2>Physical Trait Change</h2>
                        <p>{{ trait_types[instant.content.trait_type] }} {{ instant.content.value }} {{ trait_types_measure[instant.content.trait_type] }}</p>
                    </ng-container>
                
                    <!-- insulin_dose -->
                    <ng-container *ngSwitchCase="'insulin_dose'">
                        <h2>{{ instant.content.dose }}u Insulin Dose</h2>
                        <p>{{ instant.content.insulin_type.name }}</p>
                    </ng-container>
                
                </ng-container>
                    
            </ion-col>

            <ion-col col-3>
                <p class="time-passed">{{ instant.moment.format('HH:mm') }}</p>                
            </ion-col>
        </ion-row>
    </ion-grid>

    
</ion-item>
