<ng-container [ngSwitch]="instant.content.type" class="card">
    <!-- Glucose Levels -->
    <button no-lines ion-item class="instant-card" [ngClass]="getInstantClass()" *ngSwitchCase="'glucose'">

        <ion-icon class="instant-card-icon" color="primary" item-start name="water"></ion-icon>
        <ion-grid>
            <ion-row align-items-end>
                <ion-col col-9>
                    <h2 class="instant-card-title">{{ instant.content.level }}mg/dL</h2>
                    <p class="instant-card-subtitle">{{ "Glucose Level" | translate }}</p>
                </ion-col>

                <ion-col col-3>
                    <p class="time-passed">{{ instant.moment.format('HH:mm') }}</p>                
                </ion-col>
            </ion-row>
        </ion-grid>
    </button>


    <!-- Feedings -->
    <button no-lines ion-item class="instant-card" [ngClass]="getInstantClass()" *ngSwitchCase="'feeding'">
        <ion-icon class="instant-card-icon" color="primary" item-start name="restaurant"></ion-icon>
        <ion-grid>
            <ion-row align-items-end>
                <ion-col col-9>
                    <h2 class="instant-card-title">{{ "Feeding" | translate }}</h2>
                    <p class="instant-card-subtitle"></p>
                </ion-col>

                <ion-col col-3>
                    <p class="time-passed">{{ instant.moment.format('HH:mm') }}</p>                
                </ion-col>
            </ion-row>
        </ion-grid>
    </button>

    <!-- Activity -->
    <button no-lines ion-item class="instant-card" [ngClass]="getInstantClass()" *ngSwitchCase="'activity'">
        <ion-icon class="instant-card-icon" color="primary" item-start name="bicycle"></ion-icon>
        <ion-grid>
            <ion-row align-items-end>
                <ion-col col-9>
                    <h2 class="instant-card-title">
                        {{activity_intensities[instant.content.intensity]}}
                        {{ "Intensity" | translate }},
                        {{ instant.content.minutes }} {{ "minutes" | translate }}</h2>
                    <ion-icon class="kcal-burned-icon" color="danger" name="flame"></ion-icon> <p class="instant-card-subtitle">{{ round(instant.content.kcal_burned) }} kcal</p>
                </ion-col>

                <ion-col col-3>
                    <p class="time-passed">{{ instant.moment.format('HH:mm') }}</p>                
                </ion-col>
            </ion-row>
        </ion-grid>
    </button>

    <!-- Trait Changes -->
    <button no-lines ion-item class="instant-card" [ngClass]="getInstantClass()" *ngSwitchCase="'trait'">
        <ion-icon class="instant-card-icon" color="primary" item-start name="body"></ion-icon>
        <ion-grid>
            <ion-row align-items-end>
                <ion-col col-9>
                    <h2 class="instant-card-title">{{ trait_types[instant.content.trait_type] }} {{ instant.content.value }} {{ trait_types_measure[instant.content.trait_type] }}</h2> 
                    <p class="instant-card-subtitle">{{ "Physical Trait Change" | translate }}</p> 
                </ion-col>

                <ion-col col-3>
                    <p class="time-passed">{{ instant.moment.format('HH:mm') }}</p>                
                </ion-col>
            </ion-row>
        </ion-grid>
    </button>


    <!-- Medication Takes -->
    <button no-lines ion-item class="instant-card" [ngClass]="getInstantClass()" *ngSwitchCase="'medication-take'">
        <ion-icon class="instant-card-icon" color="primary" item-start name="thermometer"></ion-icon>
        <ion-grid>
            <ion-row align-items-end>
                <ion-col col-9>
                    <h2 class="instant-card-title">{{ instant.content.medication }} {{ instant.content.amount }}u</h2>
                    <p class="instant-card-subtitle">{{ "Medication Take" | translate }}</p>
                </ion-col>

                <ion-col col-3>
                    <p class="time-passed">{{ instant.moment.format('HH:mm') }}</p>                
                </ion-col>
            </ion-row>
        </ion-grid>
    </button>

    <!-- Action Requests -->
    <button no-lines ion-item class="instant-card" [ngClass]="getInstantClass()" *ngSwitchCase="'action-request'">

        <ion-icon item-start *ngIf="instant.content.status === 0" color="danger" name="ios-alert-outline"></ion-icon>
        <ion-icon item-start *ngIf="instant.content.status === 1" color="secondary" name="ios-close-circle-outline"></ion-icon>
        <ion-icon item-start *ngIf="instant.content.status === 2" color="primary" name="ios-checkmark-circle-outline"></ion-icon>

        <ion-grid>
            <ion-row align-items-end>
                <ion-col>
                    <h2 class="instant-card-title">{{ instant.content.title }}</h2>
                    <p *ngIf="instant.content.status === 0">{{ instant.content.elements[0].info }}</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </button>

</ng-container>


