<ion-card>
    <ion-row>
        <ion-col>
            <ion-item>
                <ion-avatar item-start>
                    <!-- <img src="img/marty-avatar.png"> -->
                    <ion-icon class="icon-avatar" *ngIf="instant.content.type == 'glucose'" name="water"></ion-icon>
                    <ion-icon class="icon-avatar" *ngIf="instant.content.type == 'feeding'" name="restaurant"></ion-icon>
                    <ion-icon class="icon-avatar" *ngIf="instant.content.type == 'physical_activity'" name="bicycle"></ion-icon>
                    <ion-icon class="icon-avatar" *ngIf="instant.content.type == 'physical_trait'" name="body"></ion-icon>
                    <ion-icon class="icon-avatar" *ngIf="instant.content.type == 'insulin_dose'" name="thermometer"></ion-icon>
            
                </ion-avatar>
            
                <ng-container [ngSwitch]="instant.content.type">
                    <!-- glucoses -->
                    <ng-container *ngSwitchCase="'glucose'">
                        <h2>Glucose</h2>
                        <p>{{ instant.content.level }}mg/dL</p>
                    </ng-container>
                    
                    <!-- feeding -->
                    <ng-container *ngSwitchCase="'feeding'">
                        <h2>Feeding</h2>
                        <p></p>
                    </ng-container>
            
                    <!-- physical_activity -->
                    <ng-container *ngSwitchCase="'physical_activity'">
                        <h2>Physical Activity</h2>
                        <p></p>
                    </ng-container>
            
                    <!-- physical_trait -->
                    <ng-container *ngSwitchCase="'physical_trait'">
                        <h2>Physical Trait Change</h2>
                        <p></p>
                    </ng-container>
                
                    <!-- insulin_dose -->
                    <ng-container *ngSwitchCase="'insulin_dose'">
                        <h2>Insulin Dose</h2>
                        <p></p>
                    </ng-container>
                
                </ng-container>
            </ion-item>

                                
        </ion-col>

        <ion-col col-4 align-items-start center text-center>
        <ion-note>{{ timePassedString(instant.datetime) }}</ion-note>

    </ion-col>
    </ion-row>

    <ion-card-content>
        <!-- <img src="img/advance-card-bttf.png"> -->
        <!-- {{ instant.content | json }} -->
        {{ userConfig.formatDateTime(instant.datetime) }}
    </ion-card-content>

</ion-card>
