.list-header {
    margin-bottom: 0px;
}

.label {
    margin: 0;

}

.time-passed {
    text-align: right;
}

.grid {
    padding: 0;
}



.action-request {

}

.action-request.done {
    color: green;
    background: #eff9fb;
}

.action-request.unattended {
    color: red;
    background: #ffeff2;
}

.action-request.ignored {
    color: #999;
    background: #f7f7f7;
}
