
button.item.instant-card {
    box-shadow: 5px 5px 5px #d7d7d7;
    width: calc(100% - 10px);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;

    /* border: solid 1px; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    padding-left: 0;

    .list-header {
        margin-bottom: 0px;
    }
    
    .label {
        margin: 0;
    }
    
    .time-passed {
        text-align: right;
        color: map-get($colors, grey);
    }
    
    .grid {
        padding: 0;
    }
    
    .instant-card-title {
        font-weight: 100;
        font-size: 1.0em;
    }
    
    
    .instant-card-subtitle{
        color: map-get($colors, primary-dark);
    }


    .instant-card-icon {
        margin: 0;
        padding: 11px;
        background-color: map-get($colors, primary);
        color: map-get($colors, secondary);
        width: 50px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}


/* FUTURE */
button.item.instant-card.future {
    box-shadow: 5px 5px 5px #eee;
    color: transparentize(map-get($colors, dark), 0.5);

    .instant-card-subtitle{
        color: transparentize(map-get($colors, primary-dark), 0.5);
    }

    .time-passed {
        text-align: right;
        color: transparentize(map-get($colors, grey), 0.5);
    }

    .instant-card-icon {
        margin: 0;
        padding: 11px;
        background-color: transparentize(map-get($colors, primary), 0.5);
        color: transparentize(map-get($colors, secondary), 0.5);
        width: 50px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}


.action-request.done {
    .icon {
        margin: 0;
        padding: 11px;
        background-color: map-get($colors, success);
        color: map-get($colors, light);
        width: 50px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    color: darken( map-get($colors, success), 30% );
    background: #fff;
    margin-bottom: 10px !important;
}

.action-request.unattended {
    .icon {
        margin: 0;
        padding: 11px;
        background-color: map-get($colors, danger);
        color: map-get($colors, light);
        width: 50px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    color: map-get($colors, danger);
    background: #fff;
    margin-bottom: 10px !important;
}

.action-request.ignored {
    .icon {
        margin: 0;
        padding: 11px;
        background-color: map-get($colors, ignored);
        color: map-get($colors, light);
        width: 50px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    color: map-get($colors, ignored);
    background: #fff;
    margin-bottom: 10px !important;
}



