<ion-item-sliding #item>
    <button ion-item (click)="doClick()">

        <div item-content>
            <ion-label>
                {{ food.name }},  {{ food.manufacturer }}
            </ion-label>
            <div *ngIf="editMode" [@fadeInOut]>
                <food-editor (editFinished)="editFinishedCallback($event)" [food]="food"></food-editor>
            </div>

            <div *ngIf="selectionMode" [@fadeInOut]>
                <food-selection (selectionFinished)="selectionFinishedCallback($event)" [food]="food"></food-selection>
            </div>
            
        </div>

    </button>

    <ion-item-options *ngIf="!editMode && !selectionMode" side="right">

        <!-- Only with favorite and recent foods -->
        <button icon-only ion-button color="light" (click)="favorite(item, true)" *ngIf="!food.source_name && !food.favorite"><ion-icon name="heart"></ion-icon></button>

        <!-- Only with favorite and recent foods -->
        <button icon-only ion-button color="light" (click)="favorite(item, false)" *ngIf="!food.source_name && food.favorite"><ion-icon name="heart-outline"></ion-icon></button>
    
        <!-- Only with favorite and recent foods -->
        <button icon-only ion-button color="light" (click)="edit(item)" *ngIf="!food.source_name"><ion-icon name="create"></ion-icon></button> 

        <!-- Only with favorite and recent foods -->
        <button icon-only ion-button color="danger" (click)="delete(item)" *ngIf="!food.source_name"><ion-icon name="trash"></ion-icon></button> 

        <button icon-only ion-button color="secondary" (click)="save(item)" *ngIf="!!food.source_name">
            <ion-icon name="cloud-download"></ion-icon>
        </button> <!-- Only with Internet Foods -->

    </ion-item-options>

</ion-item-sliding>
