.food-item {
    ion-label.label {
        margin: 0px 10px 0px 0px;
    }

    border-bottom: 1px solid #eee;
    /* box-shadow: 10px 10px 5px grey; */
    padding-bottom: 10px;
    background: #f7f7f7;
}


.food-item h2 {
    font-weight: 600 !important;
    font-size: 1.2em;
}

.nutrition-container {
    margin: 6px 0px 0px 0px;
    display: flex;

    ion-badge {
        flex: 1;
        margin-left: 4px;
        color: color($colors, secondary);
        border-color: color($colors, dark);
        background-color: color($colors, primary);
    }
}