
.nutrition {
    color: green !important;
}

.nutrition ion-col {
    padding: 0 !important;
    font-size: 1em;
    font-weight: 100 !important;
}

.food-item h2 {
    font-weight: 600 !important;
    font-size: 1.2em;
}


.nutrition ion-badge {
    width: 70px;
    margin: 0px 0px;
    font-size: 0.7em;
    font-weight: 400;
}
