.icon-more {
    width: 100%;
    text-align: center;
    color: #444;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}

.space {
    display: block;
    height: 2em;
    background: #fff;
}

.instants-list {
    background-color: #f7f7f7;
    .item {
        padding-top: 0px;
    }
    .instant-date-info {
        color: map-get($colors, grey);
        background-color: #f7f7f7;
        border-top: 0;
    }
}
