

.instants-list {
    background-color: #f7f7f7;
    .item {
        padding-top: 0px;
    }
    .instant-date-info {
        color: map-get($colors, grey);
        background-color: #f7f7f7;
        border-top: 0;
        border-bottom: 0;
        min-height: 2em;
        padding-right: 5px;
    }
}


.future-ion-button {
    background-color: #f7f7f7;
}