.summary-container {
    margin: 10px 0px 5px 0px;
    display: flex;

    ion-badge {
        flex: 1;
        margin-right: 5px;
        color: color($colors, secondary);
        border-color: color($colors, dark);
    }
    ion-badge:last-child {
        margin-right: 0px;
    }
}