instant-card.user-event {
}

instant-card.system-generated {
}

ion-note.ion-note-dates {
    display: block;
    margin-top: 2em;
}

.icon-more {
    width: 100%;
    text-align: center;
    color: #777;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
}