<ion-header>

  <ion-navbar>
    <ion-title>{{ "Planning Editor" | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="save()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content *ngIf="planning">
  <ion-list>
    <ion-item>
      <ion-icon color="primary" name="create" item-start></ion-icon>
      <ion-label stacked>{{ "Name for routine" | translate }}</ion-label>
      <ion-input placeholder="{{ 'Give me a name' | translate }}" class="planning-name" type="text" [(ngModel)]="planning.name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon *ngIf="planning.type === 'medication_take'" color="primary" name="thermometer" item-start></ion-icon> <!-- medication take -->
      <ion-icon *ngIf="planning.type === 'physical_activity'" color="primary" name="bicycle" item-start></ion-icon> <!-- physical activity -->
      <ion-label stacked>{{ "What kind of event do you want to add?" | translate }}</ion-label>
      <ion-select [(ngModel)]="planning.type" (ionChange)="updateTypeData()">
        <ion-option [value]="'physical_activity'">{{ "Physical Activity" | translate }}</ion-option>
        <ion-option [value]="'medication_take'" *ngIf="diabeticGroup()">{{ "Medication Take" | translate }}</ion-option>
      </ion-select>
    </ion-item>

    <button ion-item (click)="definePlanning()">
      <ion-icon color="primary" name="settings" item-start></ion-icon>
      <span *ngIf="emptyDict(dataPreserved[planning.type])">{{ "Not defined yet. Press me!" | translate }}</span>
      <span *ngIf="!emptyDict(dataPreserved[planning.type])">{{ "Defined! Click to redefine" | translate }}</span>
    </button>

    <ion-list-header>
      {{ "Auto add at" | translate }}
    </ion-list-header>
  
    <ion-item>
      <ion-icon color="primary" name="time" item-start></ion-icon>
      <ion-label class="datetime-label">{{ "Time" | translate }}</ion-label>
      <ion-datetime displayFormat="HH:mm" [(ngModel)]="datetimeTime" (ionChange)="timeChanged()"></ion-datetime>
    </ion-item>

    <ion-list-header>
      {{ "Auto add every" | translate }}
    </ion-list-header>

    <button ion-item (click)="planning.mon = !planning.mon">
      <ion-icon color="primary" name="calendar" item-start></ion-icon>
      <ion-label>{{ "Monday" | translate }}</ion-label>
      <div item-content>
        <ion-toggle [(ngModel)]="planning.mon" (click)="planning.mon = !planning.mon"></ion-toggle>
      </div>
    </button>

    <button ion-item (click)="planning.tue = !planning.tue">
      <ion-icon color="primary" name="calendar" item-start></ion-icon>
      <ion-label>{{ "Tuesday" | translate }}</ion-label>
      <div item-content>
        <ion-toggle [(ngModel)]="planning.tue" (click)="planning.tue = !planning.tue"></ion-toggle>
      </div>
    </button>

    <button ion-item (click)="planning.wed = !planning.wed">
      <ion-icon color="primary" name="calendar" item-start></ion-icon>
      <ion-label>{{ "Wednesday" | translate }}</ion-label>
      <div item-content>
        <ion-toggle [(ngModel)]="planning.wed" (click)="planning.wed = !planning.wed"></ion-toggle>
      </div>
    </button>

    <button ion-item (click)="planning.thu = !planning.thu">
      <ion-icon color="primary" name="calendar" item-start></ion-icon>
      <ion-label>{{ "Thursday" | translate }}</ion-label>
      <div item-content>
        <ion-toggle [(ngModel)]="planning.thu" (click)="planning.thu = !planning.thu"></ion-toggle>
      </div>
    </button>

    <button ion-item (click)="planning.fri = !planning.fri">
      <ion-icon color="primary" name="calendar" item-start></ion-icon>
      <ion-label>{{ "Friday" | translate }}</ion-label>
      <div item-content>
        <ion-toggle [(ngModel)]="planning.fri" (click)="planning.fri = !planning.fri"></ion-toggle>
      </div>
    </button>

    <button ion-item (click)="planning.sat = !planning.sat">
      <ion-icon color="primary" name="calendar" item-start></ion-icon>
      <ion-label>{{ "Saturday" | translate }}</ion-label>
      <div item-content>
        <ion-toggle [(ngModel)]="planning.sat" (click)="planning.sat = !planning.sat"></ion-toggle>
      </div>
    </button>

    <button ion-item (click)="planning.sun = !planning.sun">
      <ion-icon color="primary" name="calendar" item-start></ion-icon>
      <ion-label>{{ "Sunday" | translate }}</ion-label>
      <div item-content>
        <ion-toggle [(ngModel)]="planning.sun" (click)="planning.sun = !planning.sun"></ion-toggle>
      </div>
    </button>

  </ion-list>

</ion-content>
