<ion-header>

  <ion-navbar>
    <ion-title>{{ "Add Feeding" | translate }}</ion-title>

    <ion-buttons end *ngIf="foodSelected.length > 0">
      <button ion-button icon-only (click)="finishFeeding()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <food-component *ngFor="let food of foodSelected" [food]="food"></food-component>
  </ion-list>

  <ion-fab bottom right padding-right #fab>
    <button (click)="openFoodSelection()" ion-fab><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p ion-text text-center>Carbs</p>
        <h5 ion-text text-center>{{ carbs }}gr</h5>
      </ion-col>
      <ion-col>
        <p ion-text text-center>Proteins</p>
        <h5 ion-text text-center>{{ proteins }}gr</h5>
      </ion-col>
      <ion-col>
        <p ion-text text-center>Fats</p>
        <h5 ion-text text-center>{{ fats }}gr</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p ion-text text-center>Fiber</p>
        <h5 ion-text text-center>{{ fiber }}gr</h5>
      </ion-col>
      <ion-col>
        <p ion-text text-center>Alcohol</p>
        <h5 ion-text text-center>{{ alcohol }}gr</h5>
      </ion-col>
      <ion-col>
        <p ion-text text-center>Kcal</p>
        <h5 ion-text text-center>{{ kcal }}kcal</h5>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>