page-search-food {

}

ion-toolbar {
    -webkit-box-shadow: 0px 0px 2px #aaa !important;
    box-shadow: 0px 0px 2px #aaa !important;
}

ion-footer > div {
    height: 100px;
}

ion-pullup .toolbar-icon {
    color: #888;
}


.result-food-list {
    margin-bottom: 56px;
}