ion-toolbar {
    -webkit-box-shadow: 0px -1px 2px #aaa !important;
    box-shadow: 0px -1px 2px #aaa !important;
}

ion-footer > div {
    height: 100px;
}

ion-pullup .toolbar-icon {
    color: #555;
}


.result-food-list {
    margin-bottom: 56px;
}