<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "Your Medications" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar
    placeholder="{{ 'Search' | translate }}"
    [showCancelButton]="false" [animated]="true" [debounce]="400"
    (ionInput)="onInput($event)"></ion-searchbar>

  <h5 padding-left padding-right>{{ viewStatusString }}</h5>
  <!-- Search result ! -->
  <ng-container *ngIf="searchString !== ''">
    <ion-list>
      <ion-item-sliding #item *ngFor="let medication of searchMedicationsResult">

        <button ion-item>
          <h1>{{ medication['name'] }}</h1>
          <p>{{ medication['administration_type'] }} {{ medication['type'] }} {{ medication['sub_type'] }}</p>
        </button>

        <ion-item-options>
          <!-- add medication to user medications  -->
          <button ion-button color="light" (click)="addMedication(item, medication['id'])"><ion-icon name="heart"></ion-icon>Add</button>
  
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>
  </ng-container>

  <!-- User medications ! -->
  <ng-container *ngIf="searchString === ''">
    <ion-list>
      <ion-item-sliding #item *ngFor="let medication of userMedications">

        <button ion-item>
          <h1>{{ medication['name'] }}</h1>
          <p>{{ medication['administration_type'] }} {{ medication['type'] }} {{ medication['sub_type'] }}</p>
        </button>

        <ion-item-options>

          <!-- remove medication from user medications -->
          <button ion-button color="danger" (click)="removeMedication(item, medication['id'])"><ion-icon name="trash"></ion-icon>{{ "Remove" | translate }}</button> 

        </ion-item-options>
      </ion-item-sliding>

    </ion-list>
  </ng-container>
      
</ion-content>
