<ion-card>
    <ion-card-content>
      <ion-grid>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label stacked color="primary">{{ "Name" | translate }}</ion-label>
              <ion-input type="text" placeholder="{{ 'Name of new Food' | translate }}" name="name" [(ngModel)]="templateFood.name" required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label stacked color="primary">{{ "Manufacturer" | translate }}</ion-label>
              <ion-input type="text" placeholder="{{ 'Brand or Manufacturer' | translate }}" name="manufacturer" [(ngModel)]="templateFood.manufacturer" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col><hr/></ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label stacked color="primary">{{ "Grams or ml" | translate }}</ion-label>
              <ion-input type="number" placeholder="{{ 'Grams or ml' | translate }}" name="g_or_ml" [(ngModel)]="templateFood.g_or_ml" (ionChange)='updateValues()' required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label stacked color="primary">{{ "Carbs" | translate }}<span *ngIf="!!templateFood.g_or_ml"> / {{ templateFood.g_or_ml }}</span></ion-label>
              <ion-input type="number" placeholder="{{ 'In Grams' | translate }}" name="carb_g" [(ngModel)]="templateFood.carb_g" (ionChange)='updateValues()' required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label stacked color="primary">{{ "Proteins" | translate }}<span *ngIf="!!templateFood.g_or_ml"> / {{ templateFood.g_or_ml }}</span></ion-label>
              <ion-input type="number" placeholder="{{ 'In Grams' | translate }}" name="protein_g" [(ngModel)]="templateFood.protein_g" (ionChange)='updateValues()' required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label stacked color="primary">{{ "Fats" | translate }}<span *ngIf="!!templateFood.g_or_ml"> / {{ templateFood.g_or_ml }}</span></ion-label>
              <ion-input type="number" placeholder="{{ 'In Grams' | translate }}" name="fat_g" [(ngModel)]="templateFood.fat_g" (ionChange)='updateValues()' required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label stacked color="primary">{{ "Fiber" | translate }}<span *ngIf="!!templateFood.g_or_ml"> / {{ templateFood.g_or_ml }}</span></ion-label>
              <ion-input type="number" placeholder="{{ 'In Grams' | translate }}" name="fiber_g" [(ngModel)]="templateFood.fiber_g" (ionChange)='updateValues()' required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label stacked color="primary">{{ "Alcohol" | translate }}<span *ngIf="!!templateFood.g_or_ml"> / {{ templateFood.g_or_ml }}</span></ion-label>
              <ion-input type="number" placeholder="{{ 'In Grams' | translate }}" name="alcohol_g" [(ngModel)]="templateFood.alcohol_g" (ionChange)='updateValues()' required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
    
        <ion-row>
            
          <ion-col>
            <ion-item>
              <ion-label stacked color="primary">{{ "Weight per unit" | translate }}</ion-label>
              <ion-input type="number" placeholder="{{ 'For cookies, slices of bread, and so on' | translate }}" name="g_or_ml_per_unit" [(ngModel)]="templateFood.g_or_ml_per_unit" (ionChange)='updateValues()' required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
    
        <ion-row> 
          <ion-col> 
            <button (click)="dismiss()" ion-button full>{{ "Close" | translate }}</button>
          </ion-col> 
    
          <ion-col> 
            <button (click)="save()" [disabled]="!valid()" ion-button full>{{ "Save" | translate }}</button>
          </ion-col> 
        </ion-row> 
      
      </ion-grid>
      
    </ion-card-content>
  </ion-card>