<ion-header>

  <ion-navbar>
    <ion-title>{{ food?.name }} / {{ food?.manufacturer }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding-top>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item *ngIf="!units">
          <ion-label stacked color="primary">Weight</ion-label>
          <ion-input type="number" placeholder="Introduce weight in grams" name="g_or_ml_selected" [(ngModel)]="food.g_or_ml_selected" required></ion-input>
        </ion-item>

        <ion-item *ngIf="units">
          <ion-label stacked color="primary">Units</ion-label>
          <ion-input type="number" placeholder="Introduce units of food" name="units_selected" [(ngModel)]="food.units_selected" required></ion-input>
        </ion-item>

      </ion-col>
    </ion-row>

  <ion-row>
      <ion-col>
        <ion-item>
          <ion-label stacked color="primary">Name</ion-label>
          <ion-input type="text" disabled placeholder="Name of new Food" name="name" [(ngModel)]="food.name" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label stacked color="primary">Manufacturer</ion-label>
          <ion-input type="text" disabled placeholder="Brand or Manufacturer" name="manufacturer" [(ngModel)]="food.manufacturer" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    
  <ion-row>
    <ion-col>
    <hr/>
  </ion-col>
  </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label stacked color="primary">Grams of Carbs</ion-label>
          <ion-input type="number" disabled placeholder="Grams of Carbs" name="carb_g" value="{{ round(weight() * food.carb_factor) }}" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label stacked color="primary">Grams of Proteins</ion-label>
          <ion-input type="number" disabled placeholder="Grams of Proteins" name="protein_g" value="{{ round(weight() * food.protein_factor) }}" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label stacked color="primary">Grams of Fats</ion-label>
          <ion-input type="number" disabled placeholder="Grams of Fats" name="fat_g" value="{{ round(weight() * food.fat_factor) }}" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label stacked color="primary">Grams of Fiber</ion-label>
          <ion-input type="number" disabled placeholder="Grams of Fiber" name="fiber_g" value="{{ round(weight() * food.fiber_factor) }}" required></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label stacked color="primary">Grams of Alcohol</ion-label>
          <ion-input type="number" disabled placeholder="Grams of Alcohol" name="alcohol_g" value="{{ round(weight() * food.alcohol_factor) }}" required></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label stacked color="primary">Weight per unit</ion-label>
          <ion-input type="number" disabled placeholder="For cookies, slices of bread, and so on" name="g_or_ml_per_unit" [(ngModel)]="food.g_or_ml_per_unit" required></ion-input>
        </ion-item>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label stacked color="primary">Kcal</ion-label>
          <ion-input type="number" [value]="kcal()" disabled></ion-input>
        </ion-item>
      </ion-col>
  
    </ion-row>

          

    <ion-row> 
      <ion-col> 
        <button (click)="dismiss()" ion-button full>{{ "Dismiss" | translate }}</button>
      </ion-col> 

      <ion-col> 
        <button (click)="save()" [disabled]="!valid()" ion-button full>{{ "Save" | translate }}</button>
      </ion-col> 
    </ion-row> 
    
  </ion-grid>
</ion-content>
