.unable-to-delete-message {
    color: color($colors, grey);
    text-align: center;
}


.table-brief {
    width: 100%;
}


.table-brief tr td:first-child {
    text-align: left;
    width: 15%;
}
.table-brief tr td:last-child {
    text-align: right;
}

.table-all-width {
    width: 100%;
    td, th {
        text-align: right;
    }

    td:first-child, th:first-child {
        text-align: left;
    }
}

.text-centered {
    text-align: center;
}
.paragraph-bigger {
    font-size: 1.3em;
    color: color($colors, primary);
}


.details-of-instant {
    .section {
        border-bottom: 1px solid color($colors, primary-dark);
        p {
            color: color($colors, primary-dark);
            font-size: 1.1em;
            margin: 5px 0px;
            font-weight: 800;
        }
    }
}