
<ion-header>

  <ion-navbar>
    <ion-title>
      <span *ngIf="instantCard.content.type === 'glucose'">{{ "Glucose Level" | translate }}</span>
      <span *ngIf="instantCard.content.type === 'activity'">{{ "Physical Activity" | translate }}</span>
      <span *ngIf="instantCard.content.type === 'feeding'">{{ "Feeding" | translate }}</span>
      <span *ngIf="instantCard.content.type === 'medication-take'">{{ "Medication Take" | translate }}</span>
      <span *ngIf="instantCard.content.type === 'trait'">{{ "Physical Trait Change" | translate }}</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="details-of-instant">
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="section">
          <p>{{ "Instant" | translate }}</p>
        </div>
      </ion-col>
    </ion-row>

    <!-- Card content brief -->
    <ion-row>
      <ion-col>
        <table class="table-brief">
          <tr>
            <td><b>{{ "Date" | translate }}</b></td><td>{{ upper(instantCard.moment.format("dddd")) }}, {{ instantCard.moment.format("LL") }}</td>
          </tr>
          <tr>
            <td><b>{{ "Hour" | translate }}</b></td><td>{{ instantCard.moment.format("HH:mm:ss") }}<span class="milliseconds">{{ instantCard.moment.format(".SSS") }}</span></td>
          </tr>
        </table>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="section">
          <p>{{ "Details" | translate }}</p>
        </div>
      </ion-col>
    </ion-row>

    <!-- Card content details -->
    <ion-row>
      <ng-container [ngSwitch]="instantCard.content.type">

        <!-- Glucose details -->
        <ion-col *ngSwitchCase="'glucose'">
          <p class="paragraph-bigger text-centered">{{ "Your glucose level was" | translate }} {{ instantCard.content.level }}mg/dL</p>
        </ion-col>

        <!-- Activity details -->
        <ion-col *ngSwitchCase="'activity'">
          <p class="paragraph-bigger text-centered">
            {{ "You spent" | translate }} {{ instantCard.content.minutes }} {{ "minutes" | translate }} {{ "at an" | translate }}
            {{ lower(activity_intensities[instantCard.content.intensity] | translate) }} {{ "intensity" | translate }}, {{ "in which you burned" | translate }}
            {{ round(instantCard.content.kcal_burned) }} kcal.
          </p>
        </ion-col>

        <!-- feeding details -->
        <ion-col *ngSwitchCase="'feeding'">

          <table class="table-brief">
            <tr>
              <td><b>{{ "Carbohydrate" | translate }}</b></td><td>{{ round(instantCard.content.carb_g, 1) }}g</td>
            </tr>
            <tr>
              <td><b>{{ "Protein" | translate }}</b></td><td>{{ round(instantCard.content.protein_g, 1) }}g</td>
            </tr>
            <tr>
              <td><b>{{ "Fat" | translate }}</b></td><td>{{ round(instantCard.content.fat_g, 1) }}g</td>
            </tr>
            <tr>
              <td><b>{{ "Fiber" | translate }}</b></td><td>{{ round(instantCard.content.fiber_g, 1) }}g</td>
            </tr>
            <tr>
              <td><b>{{ "Alcohol" | translate }}</b></td><td>{{ round(instantCard.content.alcohol_g, 1) }}g</td>
            </tr>
            <tr>
              <td><b>Kcal</b></td><td>{{ round(instantCard.content.kcal) }}Kcal</td>
            </tr>
          </table>

          <p class="paragraph-bigger text-centered">{{ "Breakdown for the meal" | translate }}</p>
      
          <table class="table-all-width">
            <thead>
              <tr>
                <th>{{ "Name" | translate }}</th><th>{{ "Weight" | translate }}</th><th>{{ "Car" | translate }}</th><th>{{ "Pro" | translate }}</th>
                <th>{{ "Fat" | translate }}</th><th>{{ "Fib" | translate }}</th><th>{{ "Alc" | translate }}</th><th>{{ "Kcal" | translate }}</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let food of instantCard.content.breakdown">
                <td>{{ food.name }}</td><td>{{ round(food.weight) }}g</td><td>{{ round(food.carb_g) }}g</td><td>{{ round(food.protein_g) }}g</td>
                <td>{{ round(food.fat_g) }}g</td><td>{{ round(food.fiber_g) }}g</td><td>{{ round(food.alcohol_g) }}g</td><td>{{ round(food.kcal) }}kcal</td>
              </tr>
            </tbody>
          </table>
        </ion-col>

        <!-- medication-take details -->
        <ion-col *ngSwitchCase="'medication-take'">
          <p class="paragraph-bigger text-centered" *ngIf="instantCard.content.amount == 1">
            {{ "You used" | translate }} {{ instantCard.content.amount }} {{ "unit of" | translate }} {{ instantCard.content.medication }}
          </p>
          <p class="paragraph-bigger text-centered" *ngIf="instantCard.content.amount != 1">
            {{ "You used" | translate }} {{ instantCard.content.amount }} {{ "units of" | translate }} {{ instantCard.content.medication }}
          </p>
        </ion-col>

        <!-- trait details -->
        <ion-col *ngSwitchCase="'trait'">
          <p class="paragraph-bigger text-centered">
            {{ "You registered a change in your" | translate }} {{ lower(trait_types[instantCard.content.trait_type] | translate) }}:<br>{{ instantCard.content.value }}{{ trait_types_measure[instantCard.content.trait_type] }}
          </p>
        </ion-col>
        
      </ng-container>
    </ion-row>


    <!-- Unnable to delete message -->
    <ion-row *ngIf="instantCard.signature === ''">
      <ion-col><p class="unable-to-delete-message">{{ "Only recent instants can be deleted." | translate }}</p></ion-col>
    </ion-row>

    <!-- action buttons -->
    <ion-row>
      <ion-col><button (click)="deleteInstant()" [disabled]="instantCard.signature === ''" ion-button full>{{ "Delete" | translate }}</button></ion-col>
      <ion-col><button (click)="closeWithoutRefresh()" ion-button full>{{ "Close" | translate }}</button></ion-col>
    </ion-row>

  </ion-grid> 
    
</ion-content>
