.item.dynamic-field {
    padding-top: 0px;
    padding-left: 0px;

    .item-inner {
        padding-right: 0px;
    }

    ion-datetime {
        padding-left: 10px;
        border-radius: 5px;
        background-color: color($colors, light);
    }

    ion-input {
        padding: 5px 0px;
        padding-left: 10px;
        border-radius: 5px;
        background-color: color($colors, light);
    }
    ion-label {
        font-size: 1em;
    }
}


.action-type-field {
    color: color($colors, primary);
    font-size: 1.0em;
}


.item.dynamic-field-disabled {
    ion-datetime {
        background-color: color($colors, light);
        opacity: 1.0;
    }

    ion-input {
        background-color: color($colors, light);
        opacity: 1.0;
    }
    input {
        opacity: 1.0;
    }
    ion-label {
        opacity: 1.0;
    }
}



