<button ion-item>
  <ion-grid item-content>
    <ion-row>
        <ion-label class="planning-hour">{{ local_hour() }}</ion-label>
        <ion-toggle [(ngModel)]="planning.enabled"></ion-toggle>
    </ion-row>

    <ion-row>
      <ion-badge color="light" [ngClass]="{ 'enabled': planning.mon}">Mo</ion-badge>
      <ion-badge color="light" [ngClass]="{ 'enabled': planning.tue}">Tu</ion-badge>
      <ion-badge color="light" [ngClass]="{ 'enabled': planning.wed}">We</ion-badge>
      <ion-badge color="light" [ngClass]="{ 'enabled': planning.thu}">Th</ion-badge>
      <ion-badge color="light" [ngClass]="{ 'enabled': planning.fri}">Fr</ion-badge>
      <ion-badge color="light" [ngClass]="{ 'enabled': planning.sat}">Sa</ion-badge>
      <ion-badge color="light" [ngClass]="{ 'enabled': planning.sun}">Su</ion-badge>
    </ion-row>
  </ion-grid>
</button>