ion-badge.enabled {
    color: #488aff !important;
}

ion-label.planning-hour {
    font-weight: 100;
    font-size: 1.5em;

}


ion-toggle.plannings-toggle {
    padding: 8px 0px 12px 16px !important;
}

.badge-weekday {
    font-size: 0.7em;
    padding: 3px 5px;
}

.weekdays-container {
    text-align: right;
}

.item .planning-name {
    margin: 0;
    display: block;
    height: 100%;
    vertical-align: middle;
}

.item-md {
    padding-top: 10px;
}