ion-badge.enabled {
    color: map-get($colors, primary-dark) !important;
}

ion-label.planning-hour {
    font-weight: 100;
    font-size: 1.3em;
}


ion-toggle.plannings-toggle {
    padding: 8px 0px 12px 16px !important;
}

.badge-weekday {
    font-size: 0.6em;
    padding: 3px 5px;
}

.weekdays-container {
    text-align: right;
}

.item .planning-name {
    margin: 0;
    display: block;
    height: 100%;
    vertical-align: middle;
    color: map-get($colors, primary-dark);
}

.item-md {
    padding-top: 10px;
}

.planning-item {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}