<ion-item-sliding #item margin-top>

    <button ion-item (click)="doClick()" class="food-item card">
        <h2>{{ food.name }} <span *ngIf="selection()">({{ selection() }})</span></h2>
        <p>{{ food.manufacturer }}</p>

        <ion-grid class="nutrition">
            <ion-row>
                <ion-col>
                    <ion-badge *ngIf="showCarbs" color="secondary">Carb<br/>{{ round(food.carb_g) }}g</ion-badge>
                    <ion-badge *ngIf="showProteins" color="secondary">Prot<br/>{{ round(100 * food.protein_g) }}g</ion-badge>
                    <ion-badge *ngIf="showFats" color="secondary">Fats<br/>{{ round(100 * food.fat_g) }}g</ion-badge>
                    <ion-badge *ngIf="showKCal" color="secondary">Kcal<br/>{{ kcal() }}</ion-badge>
                </ion-col>
            </ion-row>

        </ion-grid>

        <div item-content>
          <div *ngIf="selectionMode" [@fadeInOut]>
              <food-selection (selectionFinished)="selectionFinishedCallback($event)" [food]="food"></food-selection>
          </div>
        </div>
    </button>

    <ion-item-options *ngIf="!editMode && !selectionMode" side="right">
        <!-- Remove from food selected list -->
        <button ion-button color="danger" (click)="unselect(item)"><ion-icon name="remove"></ion-icon>Remove</button> 
    </ion-item-options>
</ion-item-sliding>