
/*
.nutrition {
    color: green !important;
}
*/

.nutrition ion-col {
    padding: 0 !important;
    font-size: 1em;
    font-weight: 400 !important;
}

.food-item h2 {
    font-weight: 400 !important;
    font-size: 1.2em;
}


.nutrition ion-badge {
    width: 70px;
    margin: 2px 0px !important;
    font-size: 0.7em;
    font-weight: 400;
}

/* lateral left border */
/*
ion-item-sliding {
    border-left: 3px solid color($colors, secondary);
    margin-left: 0px;
}
*/