<ion-header>
  <ion-navbar>
    <ion-buttons end>
      <button *ngIf="configurationPointer?.length > 1" ion-button icon-only (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>

      <ion-title *ngIf="configurationPointer?.length > 0 && configurationPointer[configurationPointer.length - 1]">
      {{ configurationPointer[configurationPointer.length - 1].display }}
    </ion-title>
    <ion-title *ngIf="configurationPointer?.length == 0">
      Configuration
    </ion-title>
  </ion-navbar>
</ion-header>
  
<ion-content
*ngIf="configurationPointer?.length > 0 && configurationPointer[configurationPointer.length - 1]">
  <dynamic-root
  [configurationRoot]="configurationPointer[configurationPointer.length - 1]"
  (changeRootRequest)="changeRoot($event)"
  (haveChanges)="haveChanges($event)">
  </dynamic-root>

  <button (click)="logout()" ion-item>Logout<ion-icon item-end name="build"></ion-icon></button>

</ion-content>