<ion-header>

  <ion-navbar *ngIf="!!data">
    <ng-container [ngSwitch]="data.type">
      <ion-title *ngSwitchCase="'glucose'">{{ "New Glucose" | translate }}</ion-title>
      <ion-title *ngSwitchCase="'feeding'">{{ "New Feeding" | translate }}</ion-title>
      <ion-title *ngSwitchCase="'activity'">{{ "New Physical Activity" | translate }}</ion-title>
      <ion-title *ngSwitchCase="'insulin'">{{ "New Insulin Dose" | translate }}</ion-title>
      <ion-title *ngSwitchCase="'trait'">{{ "New Trait Change" | translate }}</ion-title>
    </ng-container>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-grid> 
      
    <ion-row> 
      <ion-col> 

        <ng-container *ngFor="let element of complete_elements; let i = index">
          <p padding-right padding-left>{{ element.name }}</p>
          <ng-container *ngFor="let field of element.fields">

            <dynamic-field *ngIf="isConditionalTrue(element, field)"
            [dateFormat]="dateFormat || 'MM DD, YYYY HH:mm'"
            [timezone]="timezone || 'UTC'"
            [field]="field" (haveChanges)="haveChanges($event, element)">
            </dynamic-field>
          
          </ng-container>
          <hr>
        </ng-container>
      </ion-col>
    </ion-row> 
    
    <ion-row> 
      <ion-col> 
        <button (click)="dismiss()" ion-button full>{{ "Dismiss" | translate }}</button>
      </ion-col> 

      <ion-col> 
        <button (click)="save()" ion-button full>{{ "Save" | translate }}</button>
      </ion-col> 
    </ion-row> 
  </ion-grid> 
</ion-content>
